* {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}
em {font-family: "Bembo Italic";}


.header {
    text-align: center;
    font-family: "Bembo Bold";
}

.return {
    font-family: "Bembo Bold";
    font-size: 1.15rem;
    text-decoration: underline;
    text-decoration-color: red;
    margin-right: auto;
}

.content {
    display: grid;
    grid-template-columns: 0.1fr 0.278fr 0.15fr 0.3fr 0.15fr 0.10fr 0.2fr;
    grid-template-rows: 0.33fr 0.33fr 0.05fr 0.2fr;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    max-width: 600px;
    max-height: 600px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image2 {
    max-width: 600px;
    max-height: 600px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: center;
}

.image3 {
    max-width: 600px;
    max-height: 298px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image4 {
    max-width: 600px;
    max-height: 298px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.title {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    color: red;
    font-family: "Bembo Bold";
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 6;
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
    margin-top: 0px;
}

.tags {
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
}







@font-face {
    font-family: "Bembo";
    src: url(../../../Fonts/BemboStd.woff2);
}
@font-face {
font-family: "Bembo Bold";
src: url(../../../Fonts/BemboStd-Bold.woff2);
}
@font-face {
font-family: "Bembo Italic";
src: url(../../../Fonts/BemboStd-Italic.woff2);
}
@font-face {
font-family: "Bembo SemiBold Italic";
src: url(../../../Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
font-family: "Bembo Bold Italic";
src: url(../../../Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
font-family: "Bembo ExtraBold Italic";
src: url(../../../Fonts/BemboStd-ExtraBoldItalic.woff2);
}