* {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}
em {font-family: "Bembo Italic";}

.header {
    text-align: center;
    font-family: "Bembo Bold";
}

.return {
    font-family: "Bembo Bold";
    font-size: 1.15rem;
    text-decoration: underline red;
    margin-right: auto;
}

.content {
    display: grid;
    grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
    grid-template-rows: 0.05fr 0.4fr 0.2fr 0.4fr 0.2fr 0.4fr;
    gap: 5px;
}

.problem {
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: "Bembo";
    font-size: 1.75rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.highlight {
    color: red;
    font-family: "Bembo Bold";

}

.image1 {
    max-width: 400px;
    max-height: 500px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: auto;
}

.image2 {
    max-width: 400px;
    max-height: 500px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: auto;
    margin-left: auto;
}

.image3 {
    max-width: 400px;
    max-height: 500px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
}

.fixing {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: "Bembo";
    font-size: 1.25rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.gif {
    max-width: 400px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-right: auto;
    margin-left: auto;
}

.image4 {
    max-width: 400px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-right: auto;
}

.image5 {
    max-width: 400px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: auto;
}

.fixed {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-family: "Bembo";
    font-size: 1.25rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image6 {
    max-width: 500px;
    max-height: 500px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-left: auto;
}

.image7 {
    max-width: 500px;
    max-height: 500px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}


.tags {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
}


@font-face {
    font-family: "Bembo";
    src: url(../../../Fonts/BemboStd.woff2);
}
@font-face {
font-family: "Bembo Bold";
src: url(../../../Fonts/BemboStd-Bold.woff2);
}
@font-face {
font-family: "Bembo Italic";
src: url(../../../Fonts/BemboStd-Italic.woff2);
}
@font-face {
font-family: "Bembo SemiBold Italic";
src: url(../../../Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
font-family: "Bembo Bold Italic";
src: url(../../../Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
font-family: "Bembo ExtraBold Italic";
src: url(../../../Fonts/BemboStd-ExtraBoldItalic.woff2);
}